/* General */
#artilleryTitle {
    -fx-font-size: 100px;
    -fx-font-weight: bold;
}

#artilleryMenuButton {
    -fx-background-color: #797979;
    -fx-border-color: #454545;
    -fx-border-width: 5px;
    -fx-font-size: 25px;
    -fx-font-weight: bold;
}

#artilleryVBox {
    -fx-background-color: #797979;
    -fx-border-color: #454545;
    -fx-border-width: 3px;
}

#artilleryMenuButton:hover {
    -fx-background-color: GRAY;
    -fx-border-color: #454545;
    -fx-border-width: 5px;
    -fx-font-size: 25px;
    -fx-font-weight: bold;
    -fx-text-fill: DARKRED
}

/* HomeView & Presenter */
#homeViewButton {
    -fx-font-size: 50px;
    -fx-font-weight: bold;
    -fx-background-color: none;
}

#homeViewButton:hover {
    -fx-text-fill: DARKRED;
    -fx-font-size: 50px;
    -fx-font-weight: bold;
    -fx-background-color: none;
}

#homeViewSound {
    -fx-background-color: none
}

/* GameSetupView & Presenter */

#gamesetupViewLblPlayer {
    -fx-font-size: 25px;
    -fx-font-weight: bold
}

/* GameView & Presenter */

#gameViewSlider {
    -fx-control-inner-background: DARKGRAY;
    -fx-text-box-border: gray;
    -fx-focus-color: #636363;
    -fx-faint-focus-color: transparent;
}

#gameViewLbl {
    -fx-font-size: 45px;
    -fx-font-weight: bold;
}

#gameViewSmallLbl {
    -fx-font-size: 15px;
    -fx-font-weight: bold;
}

#gameViewFireBtn {
    -fx-border-color: DARKRED;
    -fx-border-width: 4px;
    -fx-background-color: RED;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

#gameViewVictory {
    -fx-font-size: 75px;
    -fx-font-weight: bold;
}

#gameViewWinnerName {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

#gameViewDataControlPanel {
    -fx-font-size: 25px;
    -fx-font-weight: bold;
}

/* CreditView & Presenter */

#creditLbl {
    -fx-font-size: 50px;
    -fx-font-family: 'Agency FB';
    -fx-font-weight: bold;
}

/* HighscoreView & Presenter */
#highscoreLbl {
    -fx-font-size: 25px;
    -fx-font-weight: bold
}